[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dams"]
	path = dams
	url = https://github.com/jsta/dams
[submodule "ipdw"]
	path = ipdw
	url = https://github.com/jsta/ipdw
[submodule "nesRdata"]
	path = nesRdata
	url = https://github.com/jsta/nesrdata
[submodule "nhdR"]
	path = nhdR
	url = https://github.com/jsta/nhdr
[submodule "wikilake"]
	path = wikilake
	url = https://github.com/jsta/wikilake
[submodule "wql"]
	path = wql
	url = https://github.com/jsta/wql
